@charset "utf-8";

#loginPage .loginTop{
    background-image: url(../img/slide_2.jpg);
    background-size: cover;
    color: #fff;
    padding: 200px 0 130px;
    text-align: center;
}
#loginPage h2 {
    font-size: 48px;
}
#loginPage p {
    font-size: 12px;
    margin-top:6px
}
#loginPage p i {
    padding-right: 5px;
}
#loginPage .logjoin{
    background: #eee;
    position: relative;
    width: 100%;
    font-size: 15px;
    text-align: center;

}
#loginPage .logjoin h4{
    display: inline-block; 
    padding:15px 10px 14px 10px;
    font-weight: bold;
}
#loginPage .logjoin h4 a {
    padding-bottom: 12px; 
    border-bottom: 1px solid #111;
    color: #111;
}
#loginPage .logjoin h4 .join {
    border-bottom: 0px solid #111;
    color: #777777;
}
#loginPage .logjoin h4 .join:hover {
    border-bottom: 1px solid #111;
    color: #111;
}

.loginBox h3{
    font-size: 36px;
    color:#222;
    text-align: center;
    margin-top: 50px;
}
.loginBox .info {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin: 5px 0 40px 0;
}
.loginBox .loginWrap{
    border: 1px #ebebeb solid;
    padding: 0 40px 40px;
    margin-bottom: 80px;
}
.loginBox .loginForm {
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    padding:40px 0
}
.loginBox .loginForm label {
    width: 80px;
    text-align: right;
    font-size: 12px;
    color:#777;
    margin-right:10px
}
.loginBox .loginForm input {
    width:330px;
    height:20px;
    border: 1px solid #cdcdcd;
    background-color:#f6f6f6;
    text-indent:0.5em;
    margin-right:130px;
}
.loginBox .loginForm button{
    width:70px; height:50px;
    background-color:#3b3a3b ;
    color:#fff;
    font-weight: bold;
    border-radius:5px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(150px,-50%);
}

.loginBox .idpwfind{
    font-size: 11px;
    color:#777;
    text-align: center;
    padding-top: 40px;
}
.loginBox .idpwfind p {
    margin:20px 0;
}
.loginBox .idpwfind a{
    border:1px solid #ddd;
    background: #fefefe;
    padding:2px 5px;
    border-radius: 3px;
    margin-left: 10px;
}